.backgroundbanner
    background-image: url("../../../public/img/heading-pages-06.jpg.webp")
    background-size: cover
    background-repeat: no-repeat
    height: 200px

li
    cursor: pointer
li:hover
    color: #E75541
h4
    font-size: 20px !important
    font-weight: bold
p:first-of-type
    font-weight: bold
p
    text-align: left !important
    color: #000 !important
    font-size: 14px !important
.sale
    position: absolute
    z-index: 1
    color: #fff !important
    background-color: #E75541
    border-radius: 12px
    font-size: 10px !important
    font-weight: 400 !important
.product-item-cover
    position: relative
.new
    position: absolute
    z-index: 1
    color: #fff !important
    background-color: #67A8A7
    border-radius: 12px
    font-size: 10px !important
    font-weight: 400 !important