.carousel
    position: relative
.title
    position: absolute
    z-index: 1
    left: 50%
    top: 27%
    transform: translate(-50%, 0)
p
    color: #fff !important
h1
    color: #fff
    font-size: 60px !important
    font-weight: bold !important
h2
    color: #fff
    font-size: 20px !important
    font-weight: light !important

.shop-now
    color: #000 !important
    button
        border: none
        border-radius: 20px !important
        background-color: #fff
        padding: 10px 35px
        transition: 0.3s
.shop-now:hover
    color: #fff !important
    button
        background-color: #E75541 !important
        color: white

// MEDIAQUERIES---------
@media (min-width: 320px) and (max-width: 600px)
    .carousel
        display: none
    .hero-mobile
        height: 100vh
        background-image: url("../../../public/img/master-slide-04.jpg.webp")
        background-position: top
    h1
        font-size: 45px !important
        font-weight: bold !important
    h2
        margin-top: 40px !important
        font-weight: light !important
        font-size: 10px !important
@media (min-width: 601px) and (max-width: 1023px)
    .carousel
        display: none
    .hero-mobile
        height: 75vh
        background-image: url("../../../public/img/master-slide-04.jpg.webp")
        background-position: top
    h1
        font-size: 55px !important
        font-weight: bold !important
    h2
        margin-top: 35px !important
        font-weight: light !important
@media (min-width: 1024px) and (max-width: 1100px)
    .title
        top: 18%
