.coming-soon-image
    background-image: url("../../../public/img/coming-soon1.webp")
    background-size: contain
    background-repeat: no-repeat
    height: 400px
.coming-soon
    background-color: #ff008c
    width: 180px
p
    color: #000 !important
.filter:hover
    color: #E75541
    cursor: pointer
