.coming-soon-image1
    background-image: url("../../../public/img/coming-soon1.webp")
    background-size: contain
    background-repeat: no-repeat
.coming-soon-image2
    background-image: url("../../../public/img/coming-soon2.webp")
    background-size: contain
    background-repeat: no-repeat
    height: 400px
.coming-soon-image3
    background-image: url("../../../public/img/coming-soon1.webp")
    background-size: contain
    background-repeat: no-repeat
    height: 400px
.coming-soon-div
    background-color: #ff0000
    p
        color: #000 !important
