footer
    background-color: #DDDCDE


li
    list-style: none
    margin: 0.5%
    color: grey
    

.copyright
    font-size: 12px

h6
    color: black
    font-weight: 900

i, p
    color: grey

a
    text-decoration: none !important
    color: grey !important
